{
  "presets": [
    /* ["@babel/env", { // TODO for old browsers you may need this instead of "modern-browsers"
      "targets": {
        "browsers": [
          ">0.25%",
          "not ie 11",
          "not op_mini all"
        ]
      }      
    }],*/
    "modern-browsers",
    "@babel/preset-flow"
  ] 
}